.calendar-container {
    /* display: flex; */
    gap: 20;
    justify-content: space-between;
    border: 1px solid black;
    margin-left: 20px;
  }
  
  .calendar {
    margin: 1px 20px;
    width: 300px;
    text-align: center;
    font-family: Arial, sans-serif;
    /* border: 1px solid black; */
    padding: 10px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .calendar-header h2 {
    margin: 0;
  }

  .calendar-days-of-week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: none;
    height: 40px;
    margin-top: 10px;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: none;
  }
  
  .day-name {
    width: 40px;
    padding: none;
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor:default;
    align-items: center;
    justify-content: center;
    display: grid;
  }

  .calendar-day {
    width: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .current-month {
    background-color: #f0f8ff;
  }
  
  .other-month {
    background-color: #f9f9f9;
    color: #aaa;
  }
  
  .today {
    background-color: lightskyblue;
    font-weight: bold;
  }

  .selected {
    background-color: darkturquoise;
    font-weight: bold;
  }
  
  form textarea {
    width: 100%;
    resize: none;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  